td, th {
    border: 1px solid #000;
    width: 25%;

}
table {

    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
caption{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    /* margin-right: 10px; */
    word-spacing: 10px;
}